* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d1c39b;
    text-align: center;
    padding-top: 3vh;
    font-family: 'Roboto', sans-serif;
    color: #120d00;
}

h1 {
    font-family: 'Syne Mono', monospace;
    font-size: 4em;
    color: #2e2305;
    text-decoration: underline;
}

main {
    display: flex;
    justify-content: space-around;
    height: 75vh;
    padding-top: 1vh;
    background-image: url("img/d20.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 10em;
}

.codificador,
.decodificador {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
    height: 70vh;
}

.mestre,
.aventureiro {
    font-size: 3.5em;
}

h2 {
    font-size: 1.3em;
}

.textarea {
    border-radius: 10px;
    padding: 1em;
    height: 15vh;
    width: 40vw;
    font-size: 1.3em;
    background: none;
    border: 2px solid #5c4d21;
}

.offset {
    display: flex;
    justify-content: space-between;
}

h3 {
    width: 25vw;
    text-align: left;
    margin-right: 1em;
    font-size: 1.2em;
}

input {
    border-radius: 10px;
    font-size: 1.5em;
    text-align: center;
    width: 4em;
    background: none;
    border: 2px solid #5c4d21;
}

button {
    height: 2.5em;
    width: 8em;
    font-size: 1.5em;
    cursor: pointer;
    background-color: #5c4d21;
    color: #d1c39b;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    transition: background-color 500ms;
}

button:hover {
    background-color: #2e2305;
}

.fraseFinal {
    width: 30vw;
    height: 20vh;
    font-size: 1.2em;
    text-align: center;
    font-family: 'Syne Mono', monospace;
    overflow: auto;
}

footer {
    background-color: #5c4d21;
    color: #ffffff;
    font-size: 1.3em;
    line-height: 2.3em;
    height: 8vh;
}

a {
    text-decoration: none;
    color: #ffe521;
    transition: color 500ms;
}

a:hover {
    color: #d1c39b;
}