@media (max-width: 500px) {
    body {
        width: 100vw;
        padding-top: 0;
    }

    header {
        height: 100vh;
        padding-top: 2em;
        background-image: url("img/d20.png");
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 8em;
    }

    h1 {
        font-size: 3em;
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .menu p {
        padding-top: 1em;
        font-family: 'Syne Mono', monospace;
        font-size: 2.5em;
        text-transform: uppercase;
    }

    ul {
        padding-top: 5vh;
    }

    li {
        list-style: none;
    }

    .menu a {
        font-family: 'Syne Mono', monospace;
        color: #120d00;
        font-size: 3em;
        text-decoration: underline;
    }

    main {
        flex-direction: column;
        height: auto;
        align-content: center;
        width: 90%;
        background: none;
    }

    .codificador,
    .decodificador {
    width: 100vw;
    height: 100vh;
    padding: 2vw;
    }

    .mestre,
    .aventureiro {
    font-size: 3em;
    padding-top: 2vh;
    }

    h2 {
        font-size: 1.2em;
    }

    .textarea {
        height: 20vh;
        width: 70vw;
    }

    .offset {
        display: block;
    }

    h3 {
        width: 70vw;
        text-align: center;
        font-size: 1.2em;
        margin: 0;
    }

    input {
        margin-top: 0.5em;
        text-align: center;
        height: 2em;
    }

    button {
        height: 2.5em;
        width: 8em;
        font-size: 1.3em;
        transition: background-color 500ms;
    }
    
    .fraseFinal {
        width: 70vw;
        font-size: 1.2em;
    }

    footer {
        background-color: #5c4d21;
        color: #ffffff;
        height: 8vh;
    }

    .contato {
        width: 100%;
        font-size: 1em;
    }

  }